/* .carousel--1{
    object-fit:cover;
    object-position: right;
   width:200px;
   height:300px;
   border: solid 1px #CCC";
}

.d-block w-100{
    object-fit:contain;
    width: 100%;
  background-color: aquamarine;
} */